<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div *ngIf="box1" class="editChat02 row container d-flex justify-content-center">
            <div class="box-header with-border">
                <h3 class="box-title">Bienvenido por favor ingrese su nombre</h3>         
            </div>
            <div class="box-body">
                <div class="input-group"> 
                    <input [(ngModel)]="registerName" (keyup)="$event.keyCode == 13 && actionRegisterName()" placeholder="Ingrese su nombre" class="form-control"> 
                    <span class="input-group-btn"> 
                      <button type="button" class="btn btn-success" (click)="actionRegisterName()">registrar</button> 
                    </span> 
                  </div>
            </div>
        </div>
        <div *ngIf="box2" class="editChat row container d-flex justify-content-center">
            <div class="col-md-4">
                <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Bienvenido al chat</h3>
                        <span style="float: right;"> 
                            <button type="button" class="btn btn-warning btn-flat" (click)="cleanStorage()">cerrar session</button> 
                        </span> 
                        
                    </div>
                    <div class="box-body">
                        <div class="direct-chat-messages">
                            <!-- <div class="direct-chat-msg">
                                <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                            </div>
                            <div class="direct-chat-msg right">
                                <div class="direct-chat-text"> Thank you for your believe in our supports </div>
                            </div>
                            <div class="direct-chat-msg">
                              <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                <div class="direct-chat-text"> For what reason would it be advisable for me to think about business content? </div>
                            </div> -->
                            <div *ngFor="let obj of messageList" class="'direct-chat-msg' {{obj.emisor === 'bot' || obj.emisor == 'ml' ? 'right': '' }}">
                                <img class="direct-chat-img" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="message user image">
                                <div *ngIf="obj.emisor === 'bot' || obj.emisor === 'user' " class="direct-chat-text" [innerHTML]="obj.text"></div>
                                <div *ngIf="obj.emisor === 'ml' " class="direct-chat-text">
                                    <img [src]="obj.products.thumbnail" alt="message user image" width="60%">
                                    <br>
                                    <a [href]="obj.products.permalink" target="_blank">{{obj.products.title}}</a>
                                    <p>{{obj.products.currency_id}} {{obj.products.price}}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="input-group"> 
                          <input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="Type Message ..." class="form-control"> 
                          <span class="input-group-btn"> 
                            <button type="button" class="btn btn-warning btn-flat" (click)="sendMessage()">Send</button> 
                          </span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>